{include file=header2017.html}
<style>
<!--
.italic{font-style: italic;}
-->
</style>
<div id="main" class="w-full">
	<div class="w">
		<h2
			style="font-size: 28px; color: #333; font-weight: normal; font-family: 'microsoft yahei'; margin-top: 30px;">
			<p
				style="font-size: 32px; color: #333; font-weight: normal; font-family: 'microsoft yahei'; padding-left: 5px;">联系我们</p>
			<p style="color: #aaa; font-style: italic; font-size: 26px;">CONTACT</p>
		</h2>

		<div style="margin-top: 40px;line-height:28px;">
			<p class="fs16 f33 mt10"><span class="f66">服务热线：</span>&nbsp;</p>
			<p class="fs16 f33 mt10"><span class="f66">下单售后服务：</span>&nbsp;020-87077273</p>
			<p class="fs16 f33 mt10" style="margin-bottom: 42px;"><span class="f66">工作时间周一～周日 09：30－18：00</span></p>


			<p class="fs16 f33 mt10"><span class="f66">广告投放：</span>&nbsp;QQ: 459618776（咨询下单、代理等业务请联系网站下方客服列表）</p>
			<p class="fs16 f33 mt10"><span class="f66">友情链接：</span>&nbsp;QQ: 459618776</p>
			<p class="fs16 f33 mt10"><span class="f66">电子邮箱：</span>&nbsp;&nbsp;wuyg@51zwd.com</p>
			<p class="fs16 f33 mt10"><span class="f66">商家留言：</span>&nbsp;&nbsp;您可以点击"网站客服"将您的意见和建议提给我们。</p>
			<p class="fs16 f33 mt10"><span class="f66">联系地址：</span>&nbsp;&nbsp;上海市闵行区虹梅南路1755号一幢一层C1053室(总部)</p>
			<p class="fs16 f33 mt10"><span class="f66">邮政编码：</span>&nbsp;&nbsp;200241</p>



		</div>

		<div style="margin-top: 60px;">
			<strong class="fs16 f66" style="font-weight:500;">网站客服：</strong>
			<span> <a target="_blank"
				href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDAyOTA1MV8yMjA1MzBfODAwMDI5MDUxXzJf"><img
					border="0" src="http://wpa.qq.com/pa?p=2:800029051:51"
					alt="点击这里给我发消息" title="点击这里给我发消息" style="vertical-align:middle;"/></a>
			</span> 
			<span class="ml10"> <a target="_blank"
				href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDAyOTA1MV8yMjA0ODFfODAwMDI5MDUxXzJf"><img
					border="0" src="http://wpa.qq.com/pa?p=2:800029051:51"
					alt="点击这里给我发消息" title="点击这里给我发消息" style="vertical-align:middle;"/></a>
			</span> 
			<span class="ml10"> <a target="_blank"
				href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDAyOTA1MV8yMjA1MzNfODAwMDI5MDUxXzJf"><img
					border="0" src="http://wpa.qq.com/pa?p=2:800029051:51"
					alt="点击这里给我发消息" title="点击这里给我发消息" style="vertical-align:middle;"/></a>
			</span>
			<span class="ml10 fs14 aaa italic">合作电话：400 099 0051</span>
			<span class="ml10 fs14 aaa italic">QQ：800029051</span>
		</div>
		

		
		<div style="margin-top: 60px;">&nbsp;</div>
	</div>
</div>
{include file=footer2017.html}
