{include file=header.html}
<style>
<!--
.italic{font-style: italic;}
-->
</style>
<div id="main" class="w-full">
	<div class="w">
		<!-- <h2
			style="font-size: 28px; color: #333; font-weight: normal; font-family: 'microsoft yahei'; margin-top: 30px;">
			<p
				style="font-size: 32px; color: #333; font-weight: normal; font-family: 'microsoft yahei'; padding-left: 5px;">联系我们</p>
			<p style="color: #aaa; font-style: italic; font-size: 26px;">CONTACT</p>
		</h2> -->

		<div style="margin-top: 40px;line-height:28px;">
			
			<div class="float-left" style="width:600px;text-align:center">
					<img src="{$site_url}/static/app/android/phone.png"/>
			</div>
			<div class="float-left" style="width:600px;">
				<img src="{$site_url}/static/app/android/phone_ma.png" />
				<div style="padding-left:43px">
					<a href="http://app.51zwd.com/zwd51.apk" target="_blank" style="font-size:18px;color:#444">下载到电脑</a>
				</div>
			</div>
			
			<div class="clr"></div>
		</div>
		
		
		
		<div style="margin-top: 60px;">&nbsp;</div>
	</div>
</div>
{include file=footer.html}
