{include file=header.html}
<style>
<!--
.italic{font-style: italic;}
-->
</style>
<div id="main" class="w-full">
	<div class="w">
		<h2
			style="font-size: 28px; color: #333; font-weight: normal; font-family: 'microsoft yahei'; margin-top: 30px;">
			<p
				style="font-size: 32px; color: #333; font-weight: normal; font-family: 'microsoft yahei'; padding-left: 5px;">联系我们</p>
			<p style="color: #aaa; font-style: italic; font-size: 26px;">CONTACT</p>
		</h2>

		<div style="margin-top: 40px;line-height:28px;">
			<p class="fs16 f33"><span class="f66">联系地址：</span>&nbsp;&nbsp;上海市闵行区虹梅南路1755号一幢一层C1053室(总部)</p>
			<p class="fs16 f33 mt10"><span class="f66">客服电话 :</span>&nbsp;&nbsp;	<span>400 099 0051</span>(工作日：9:30-22:00)</p>
			<p class="fs16 f33 mt10"><span class="f66">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</span>&nbsp;&nbsp;459618776@qq.com</p>
		</div>

		<div style="margin-top: 60px;">
			<strong class="fs16 f66" style="font-weight:500;">网站客服：</strong>
			<span> <a target="_blank"
				href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDAyOTA1MV8yMjA1MzBfODAwMDI5MDUxXzJf"><img
					border="0" src="http://wpa.qq.com/pa?p=2:800029051:51"
					alt="点击这里给我发消息" title="点击这里给我发消息" style="vertical-align:middle;"/></a>
			</span> 
			<span class="ml10"> <a target="_blank"
				href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDAyOTA1MV8yMjA0ODFfODAwMDI5MDUxXzJf"><img
					border="0" src="http://wpa.qq.com/pa?p=2:800029051:51"
					alt="点击这里给我发消息" title="点击这里给我发消息" style="vertical-align:middle;"/></a>
			</span> 
			<span class="ml10"> <a target="_blank"
				href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzgwMDAyOTA1MV8yMjA1MzNfODAwMDI5MDUxXzJf"><img
					border="0" src="http://wpa.qq.com/pa?p=2:800029051:51"
					alt="点击这里给我发消息" title="点击这里给我发消息" style="vertical-align:middle;"/></a>
			</span>
			<span class="ml10 fs14 aaa italic">合作电话：400 099 0051</span>
			<span class="ml10 fs14 aaa italic">QQ：800029051</span>
		</div>
		
		<div style="margin-top:16px;">
		   <strong class="fs16 f66" style="font-weight:500;">网站代发：</strong>
		   <span>
       		<!--51官方代发: 1002  -->
            <a target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?uin=800063451&aty=1&a=1002&curl=&ty=1"><img border="0" src="{res file=images/behalf/behalf_office.gif}" alt="点击这里给我发消息" title="点击这里给我发消息" style="vertical-align:middle;"/></a>
       	   </span>
	       <span class="ml10">
	       		<!--代发售后: 1003  -->
	            <a target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?uin=800063451&aty=1&a=1003&curl=&ty=1"><img border="0" src="{res file=images/behalf/behalf_shouhou.gif}" alt="点击这里给我发消息" title="点击这里给我发消息" style="vertical-align:middle;"/></a>
	       </span>
	       <span class="ml10">
	       		<!--代发投诉: 1006  -->
	       		<a target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?uin=800063451&aty=1&a=1006&curl=&ty=1"><img border="0" src="{res file=images/behalf/behalf_toushu.gif}" alt="点击这里给我发消息" title="点击这里给我发消息" style="vertical-align:middle;"/></a>
	       </span>
	       <span class="ml10 fs14 aaa italic">
	      		 代发电话：020-87031266
	       </span>
	       <span class="ml10 fs14 aaa italic">
	      		 QQ：800063451
	       </span>
		</div>
		
		<div style="margin-top: 60px;">&nbsp;</div>
	</div>
</div>
{include file=footer.html}
