@charset "utf-8";
/*
 * css catalogue:
 * -------------------
 * initialize.css
 * public.css
 * head.css
 * module.css
 * page.css
 * footer.css
 * table.css
 * newAdd.css
 * hack.css
 * -------------------
 */





/*
 * -------------------------------------------------------
 * ******************** initialize.css *******************
 * -------------------------------------------------------
 */

body { font: 12px tahoma, Arial, microsoft yahei, sans-serif; background: #fff; }
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, li, body, form, input, button, img, cite, strong, em, table, td, th { padding:0; margin:0; }
h1, h2, h3, h4, h5, h6 { font-size: 14px; }
img, table, td, th { border: 0; }
ul, ol { list-style-type:none; }

/*
 * -------------------------------------------------------
 * ******************** end initialize.css ***************
 * -------------------------------------------------------
 */
/* a.icon-tb{background:url(../../zwd_sprite.png) no-repeat 0px -625px;text-indent:-9999px;display:inline-block;width:23px;height:23px;}
a.icon-al{background:url(../../zwd_sprite.png) no-repeat 0px -679px;text-indent:-9999px;display:inline-block;width:23px;height:23px;}
a.icon-pp{background:url(../../zwd_sprite.png) no-repeat 0px -733px;text-indent:-9999px;display:inline-block;width:23px;height:23px;}
 */

a.icon-tb{border:1px solid #f44;border-radius:3px;padding:1px 5px;background-color:#f44;color:white;text-decoration:none;}
a.icon-al{border:1px solid #f44;border-radius:3px;padding:1px 5px;background-color:#f44;color:white;text-decoration:none;margin-left:2px;}
a.icon-pp{border:1px solid #f44;border-radius:3px;padding:1px 5px;background-color:#f44;color:white;text-decoration:none;margin-left:2px;}
a.icon-tb:hover,a.icon-al:hover,a.icon-pp:hover{text-decoration:underline;}
.goods_price{color:#DA542E;font-size:16px;font-weight:bold;}
.goods_databag{/* border:1px solid #f44;padding:1px 3px; */}

.hidden{display:none;}



/*
 * -------------------------------------------------------
 * ******************** public.css ***********************
 * -------------------------------------------------------
 */

#content,.gheader_content { width: 1200px; margin: 0 auto; }
#left { float: left; width: 208px; border: 0px solid #efe8c1; background: #fff;color:#666;/* cf3;  */}
#right { float: right; width: 980px; border: 0px solid #efe8c1; background: #fff;/* cf3; */ }

.goods_left{float: left; width: 978px; border: 1px solid #ddd; background: #fff;margin-bottom:20px;}
.goods_right{float: right; width: 208px; border: 0px solid #efe8c1; background: #fff;color:#666;}
.clear { clear: both; height: 0; font-size: 1px; }

.fontColor1 { color: #3d3f3e; }
.fontColor2 { color: #fe5504; }
.fontColor3 { font-size: 16px; color: #cb8942; }
.fontColor4 { color: #3d8bd7; }
.fontColor5 { color: #aaa; }
.fontColor6 { color: #f00; }
.fontColor7 { color: #569636; }
.fontColor8 { color: #3e3e3e; }
.fontColor9 { color: #275bcb; }
.fontColor10 { color: #656565; }
.fontColor11 { color: #a8a8a8; }
.fontColor12{color:#666;font-weight:400;font-size:13px;}

.letter1 { letter-spacing: 12px; }

.bg1 {}
.bg2 { }
.bg2 th { border-bottom: 1px solid #e3d3a5; }

.web_search .text { border: 1px solid #c2c2c2; background: #fff url(images/text.gif) repeat-x; padding: 4px; font-family: Arial, Helvetica, sans-serif; color: #666; }
.handle .text { border: 1px solid #c2c2c2; background: #fff url(images/text.gif) repeat-x; padding: 3px; font-family: Arial, Helvetica, sans-serif; color: #666; }

.width1 { width: 40px; }
.width2 { width: 200px; }
.width3 { width: 120px; }
.width4 { width: 120px; }

/*
 * -------------------------------------------------------
 * ******************** end public.css *******************
 * -------------------------------------------------------
 */


/*
 * -------------------------------------------------------
 * ******************** head.css *************************
 * -------------------------------------------------------
 */

#head { width: 1200px; height: 85px; position: relative; margin: 0 auto; z-index: 99; }
#head h1 { position: absolute; top: 6px; left: 0; }

#subnav { position: absolute; top: 0px; right: 0; word-spacing: 3px; }
#subnav p { float: left; padding-left: 20px; }
#subnav a { color: #666; }
#subnav a:hover { color: red; }

#subnav span { float: left; color: #c0c0c0; padding: 0 8px; }
#subnav b { color: #ff5301; }
#subnav .shopping { height: 15px; line-height: 15px; float: left; padding-left: 22px; background: url(images/ico.gif) 0 0; }
#subnav .favorite { height: 15px; line-height: 15px; float: left; padding-left: 20px; background: url(images/ico.gif) 0 -27px; }
#subnav .note { height: 15px; line-height: 15px; float: left; padding-left: 20px; background: url(images/ico.gif) 0 -51px; }
#subnav .help { height: 15px; line-height: 15px; float: left; padding-left: 20px; background: url(images/ico.gif) 0 -75px; }
.user_defined { float: left; }

 .top-search-box{ height:36px;color:#666;z-index:9;position:relative;}
 .top-search-box input{ vertical-align:middle; line-height:150%;}
 .top-search-box .keyword{border:1px #fff solid;height:34px;width:380px;padding:0 0 0 2px;line-height:34px;
position:absolute;left:71px; top:0px;color:#666;}
 .top-search-box .search-span{height:24px;width:5px;position:absolute;left:66px; top:0px;background-color:white;}
 
 .top-search-box .search-type{width:69px;height:36px;overflow:hidden;border:none;position:absolute;top:-2px;left:-2px;padding:2px 0 0 2px;}
 .top-search-box .search-type.hover{height:auto;border:2px solid #ff4444;background:#fefefe;}
 .top-search-box .search-type.hover li{background:#fefefe;}
 .top-search-box .search-type.hover li:hover{color:#ff4444;}
 .top-search-box .search-type li{cursor:pointer;padding-left:13px;border:none;width:52px;height:36px;line-height:36px;color:#777;font-size:12px;text-align:left;background:#fafafa;}
 .top-search-box .search-type li.first-li{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAADCAYAAACwAX77AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAlSURBVBhXY7hy5cr/DRs2/GeAAhAbJAbmwCRRBGEAJIAQZGAAAHAMIR/o+WnKAAAAAElFTkSuQmCC") no-repeat 50px center;border-right:1px solid #ddd;}
 .top-search-box .search-type.hover li.first-li{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAADCAYAAACwAX77AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAoSURBVBhXY4CBGzdu/L958+Z/KBcCQIIbNmwAY7gkTBDMAQKI5M3/AEnxIXAeReNGAAAAAElFTkSuQmCC") no-repeat 50px center;border:none;}
 .top-search-box .submit{width:82px; height:36px;position:absolute;border:0;right:0px;top:0px;
cursor:pointer;font-size:14px;color:#fff; background:#ff4444;}
 .top-search-box .form-fields{position:relative;width:540px; height:36px;border:2px solid #ff4444;}
 .top-search-box .adv-search{margin-right:20px;line-height:19px;}
 .top-search-box .search-cat{ display:block; background:url(../images/header_sprites.png) 0 -97px; width:70px; padding-left:77px; line-height:36px; height:36px;color:#333; }
 .top-search-box .search-cat a:hover{color:#990000;}

 .top-search-keywords{margin-top:10px;padding-left:5px;}
 .top-search-keywords a{margin-right:3px;color:#999;}
 .top-search-keywords a:hover{color:#990000; text-decoration:none}

#nc_search { height:26px;color:#666;z-index:9;position:relative;}
#nc_search  input{ vertical-align:middle; line-height:150%;}
#nc_search  .keyword{border:1px #fff solid;height:24px;width:180px;padding:0 0 0 2px;line-height:24px;
position:absolute;left:71px; top:0px;color:#666;}
#nc_search  .search-span{height:24px;width:5px;position:absolute;left:66px; top:0px;background-color:white;}
 
#nc_search  .search-type{width:69px;height:26px;overflow:hidden;border:none;position:absolute;top:-2px;left:-2px;padding:2px 0 0 2px;}
#nc_search  .search-type.hover{height:auto;border:2px solid #559fde;background:#fefefe;}
#nc_search  .search-type.hover li{background:#fefefe;}
#nc_search  .search-type.hover li:hover{color:#559fde;}
#nc_search  .search-type li{cursor:pointer;padding-left:13px;border:none;width:52px;height:26px;line-height:26px;color:#777;font-size:12px;text-align:left;background:#fafafa;}
#nc_search  .search-type li.first-li{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAADCAYAAACwAX77AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAlSURBVBhXY7hy5cr/DRs2/GeAAhAbJAbmwCRRBGEAJIAQZGAAAHAMIR/o+WnKAAAAAElFTkSuQmCC") no-repeat 50px center;border-right:1px solid #ddd;}
#nc_search  .search-type.hover li.first-li{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAADCAYAAACwAX77AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAoSURBVBhXY4CBGzdu/L958+Z/KBcCQIIbNmwAY7gkTBDMAQKI5M3/AEnxIXAeReNGAAAAAElFTkSuQmCC") no-repeat 50px center;border:none;}
#nc_search  .submit{width:52px; height:26px;position:absolute;border:0;right:0px;top:0px;
cursor:pointer;font-size:14px;color:#fff; background:#559fde;}
#nc_search  .form-fields{position:relative;width:337px; height:26px;border:2px solid #559fde;}
#nc_search  .adv-search{margin-right:20px;line-height:19px;}
#nc_search  .search-cat{ display:block; background:url(../images/header_sprites.png) 0 -97px; width:70px; padding-left:77px; line-height:36px; height:36px;color:#333; }
#nc_search  .search-cat a:hover{color:#559fde;}

#nc_search .top-search-keywords{margin-top:10px;padding-left:5px;}
#nc_search .top-search-keywords a{margin-right:10px;color:#999;}
#nc_search .top-search-keywords a:hover{color:#990000; text-decoration:none}

#topbtn { position: absolute; top: 17px; right: 0; z-index: 100; width: 312px; height: 40px; background:white; line-height: 38px; text-align: center; overflow:hidden; }
.topbtn1 { position: absolute; top: 0; left: 0; width: 3px; height: 21px; background: url(images/topbtn.gif) no-repeat 0 -44px; }
.topbtn2 { position: absolute; top: 0; right: 0; width: 3px; height: 21px; background: url(images/topbtn.gif) no-repeat 0 -22px; }
#topbtn a { color: #666; text-decoration: none; }
#topbtn a:hover { color: red; }
#topbtn span { color: #666; }
#topbtn .user { padding-right: 14px; background: url(images/ico.gif) no-repeat 50px -106px; position: relative; z-index: 2; }
#topbtn .adv-pos{border:1px solid #eee;text-align:center;height:38px;line-height:38px;color:#ddd;width:150px;float:left;}
#path { position: absolute; bottom: 10px; left: 0; color: #000; }
#path a { color: #285bcc; text-decoration: none; }
#path a:hover { text-decoration: underline; }
#path span { font-size: 12px; position: relative; top: 1px; padding-right: 3px; color: #666; }
#search { position: absolute; top: 17px; left: 328px; }
.input { float: left; background: url(images/input.gif); width: 434px; height: 29px; padding: 5px 0 0 10px; position: relative; margin-right: 6px; }
.input1 { width: 2px; height: 34px; background: url(images/input.gif) no-repeat 0 -70px; position: absolute; top: 0; left: 0; }
.input2 { width: 2px; height: 34px; background: url(images/input.gif) no-repeat 0 -35px; position: absolute; top: 0; right: 0; }
.select1 { padding: 2px; margin-right: 2px; }
.search334 { width: 334px; padding: 2px; +padding: 2px 2px 0; }
.search_btn { float: left; background: url(images/search_btn.gif) no-repeat; border: 0; width: 71px; height: 34px; }

#float_layer { position: absolute; top: 21px; right: 117px; width: 95px; line-height: 20px; background: url(images/float_layer.gif) repeat-y -95px 0; z-index: 1; display: none; }
#float_layer a { text-decoration: none; color: #333; }
#float_layer a:hover { text-decoration: underline; }
#float_layer #adorn1 { width: 95px; height: 3px; overflow: hidden; background: url(images/float_layer.gif) no-repeat 0 0; position: absolute; bottom: -3px; left: 0; }
#float_layer #adorn2 { width: 94px; height: 3px; overflow: hidden; background: url(images/float_layer.gif) no-repeat right 0; position: absolute; top: -3px; left: 0; }

/*
 * -------------------------------------------------------
 * ******************** end head.css *********************
 * -------------------------------------------------------
 */

/* btns of order */
.btn-order{ height:24px;  line-height:22px;position:absolute;top:5px;right:7px;}
.btn-order a{color:#666;text-decoration:none;font-weight:normal;font-size:12px;}
.btn-order-click{padding-left:5px;padding-right:15px;height:22px;display:inline-block; position:relative;float:left;border-left:0;}
.default-sort{padding-right:5px;margin-left:5px;}
.btn-order-click i{background:url(images/T1U_vGXjdaXXckL6Z0-130-130.png) no-repeat -22px -23px;width:7px; height:10px; display:inline-block; overflow:hidden; position:absolute;top:6px; right:3px;}
.btn-order-click:hover,.btn-order-cur{color:#990000; text-decoration:none;  background:#ffffff}
.btn-order-click:hover i{ background-position:-30px -23px;}
.order-down i,
.order-down-gray:hover i{background-position:-30px -23px;}
.order-down-gray i{ background-position:-22px -23px;}

.order-up-gray i{background-position:-38px -23px}
.order-up i,
.order-up-gray:hover i{background-position:-46px -23px}



/*
 * -------------------------------------------------------
 * ******************** module.css ***********************
 * -------------------------------------------------------
 */

#nav { width: 1200px; height: 153px; margin: 0 auto 10px; position: relative; }
#nav .banner { width: 1200px; height: 120px; position: absolute; top: 0; left: 0; z-index: 1; }
#nav ul { width: 1200px; height: 36px; padding: 0px 0 0 0px; border-top: 0px solid #c00; border-bottom: 0px solid #ff4444; /* url(images/nav_ul.gif) */; position: absolute; bottom: -3px; left: 0; z-index: 3;
background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACBSURBVBhXLcvXDoJAFITheTClLMvSw/vfaqwo1mB3nCXefJmT/AdsW+JbVcTH824a4lWWxLMQj7oWRUHc85y4lUqGTGvIMuGTq3MiFZdc3dmmxGnEJ8fEEgeTEL3TufdrZwzRWX10sdbWs0n0sQ7jPyvfLYOIWIxESubTkJhNAv4A2ApZOprhr+MAAAAASUVORK5CYII=") repeat-x;}
#nav li { float: left; margin-right: 2px; margin-top: 0px; height:36px;line-height:36px;font-family:"microsoft yahei";padding:0 10px;}

#nav .active { display: inline; font-size: 14px; font-weight: bold; color: #fff; text-decoration: none;background-color:#CD2A2C; border-radius:5px;border:1px solid #cc0000;/*CD2A2C background: url(images/active.gif) no-repeat right 0; */ }
#nav .active span { display: inline-block; padding:0 10px;/* padding: 6px 20px 5px 22px; background: url(images/active.gif) no-repeat 0 -27px; */ }

#nav .normal { display: block; font-size: 14px; font-weight: bold; color: #fff; text-decoration: none; }
#nav .normal:hover { text-decoration: underline; }
#nav .normal span { display: block; padding:0 20px;/* padding: 6px 20px 7px 22px;  */}

#nav .collection { width: 99px; height: 25px; text-align: center; color: #fff; line-height: 25px; position: absolute; top: 6px; right: 5px; text-decoration:none;}
#nav .collection:hover { font-weight: bold; }

#nav .nav_bg { width: 1000px; height: 29px; border-bottom: 3px solid #ff8e00; background: #001b34; position: absolute; bottom: 0; left: 0; z-index: 2; filter:alpha(opacity=70); -moz-opacity:0.7; }

#left .user { width: 208px; margin-bottom: 10px; border:1px solid #ddd;}
#left .user .user_header{background-color:#f5f5f5;padding:5px 10px;text-align:left;border-bottom:1px solid #ddd; font: 600 14px/20px arial,"microsoft yahei";}
#left .user_photo { width: 208px; text-align: center;/*  background: url(images/user_photo.gif) no-repeat 0 bottom;  */padding-bottom: 20px; }
#left .user_photo h2 {color: #555;margin-top:7px;font-family:"microsoft yahei"; }
#left .photo { margin-top: 10px; }
#left .user_photo p { margin-top: 6px; }
#left .user_photo p a { color: #fff; padding: 2px 4px; background: #000; }
#left .user_photo p a:hover { background: #777; }

#left .user_data { color: #666; width: 189px; margin: 20px 0 0 17px; padding-bottom: 10px; }
#left .user_data img { vertical-align:middle; background:none;}
#left .user_data p { padding-bottom: 10px; }
#left .user_data p .name { color: #c94700; }
#left .user_data p .name:hover { color: red; }
#left .user_data .collect_btn a{border:1px solid #ccc;padding:1px 8px;display:inline-block;height:22px;line-height:22px;color:#333;text-decoration:none;border-radius:3px;}
#left .user_data .collect_btn a:hover{border:1px solid #f44;color:#f44;}
#left .user_data .update-store-goods input{display: block; width:117px; height: 26px;line-height:22px;margin-top:0px;padding-left:30px;/* background:#f44; */
border:1px solid #ccc;border-radius:3px;color:#434343;text-decoration:none;text-align:left;font-size:12px;letter-spacing:0px;
font-family:"microsoft yahei";font-weight:400; background: url(images/51icons2.png) no-repeat -138px -24px;cursor:pointer;
}
#left .user_data .update-store-goods input:disabled{background-color:#ccc;}

.goods_right .user { width: 208px; margin-bottom: 10px; border:1px solid #ddd;}
.goods_right .user .user_header{background-color:#f5f5f5;padding:5px 10px;text-align:left;border-bottom:1px solid #ddd; font: 600 14px/20px arial,"microsoft yahei";}
.goods_right .user_photo { width: 208px; text-align: center;/*  background: url(images/user_photo.gif) no-repeat 0 bottom;  */padding-bottom: 20px;brder-bottom:1px dashed #f7f7f7; }
.goods_right .user_photo h2 {color: #555;margin-top:7px;font-family:"microsoft yahei";height:33px;line-height:26px;font-size:14px;border-bottom:1px solid #ddd; }
.goods_right .photo { margin-top: 20px; }
.goods_right .user_photo p { margin-top: 6px; }
.goods_right .user_photo p a { color: #fff; padding: 2px 4px; background: #000; }
.goods_right .user_photo p a:hover { background: #777; }

.goods_right .user_data { color: #666; width: 206px; margin: 0px 0 0 0px; padding:0 0 0px 0px; }
.goods_right .user_data img { vertical-align:middle; background:none;}
.goods_right .user_data p { padding:0 0 10px 17px; }
.goods_right .user_data p .name { color: #c94700; }
.goods_right .user_data p .name:hover { color: red; }
.goods_right .user_data .collect_btn a{border:1px solid #ccc;padding:1px 8px;display:inline-block;height:22px;line-height:22px;color:#333;text-decoration:none;border-radius:3px;}
.goods_right .user_data .collect_btn a:hover{border:1px solid #f44;color:#f44;}
.goods_right .user_data .update-store-goods input{display: block; width:117px; height: 24px;line-height:22px;margin-top:0px;padding-left:30px;/* background:#f44; */
border:1px solid #ccc;border-radius:3px;color:#434343;text-decoration:none;text-align:left;font-size:12px;letter-spacing:0px;
font-family:"microsoft yahei";font-weight:400; background: url(images/51icons2.png) no-repeat -138px -24px;
 }
 .update-store-goods-this input:disabled,.goods_right .user_data .update-store-goods input:disabled{background-color:#ccc;}
.update-store-goods-this input{width:100%;border:none;font-size:14px;color:#666;text-align:left;padding-left:30px;font-weight:560;line-height:22px;background: url(images/51icons2.png) no-repeat -138px -24px;}

#left .show_newclose_static  table{text-align:center;}
#left .show_newclose_static  table tr{}
#left .show_newclose_static  table th{height:30px;line-height:30px;background-color:#fefefe;border-bottom:1px dotted #ddd;}
#left .show_newclose_static  table td{height:26px;line-height:26px;border-bottom:1px dotted #eee;}

.module_common { margin-bottom: 10px;border:1px solid #ddd; }

.module_currency { margin-bottom: 5px; }

.veins1 {/*  background: url(images/veins1.gif) no-repeat;  */}
.veins1 .ico1 { /* background: url(images/span_ico.gif) no-repeat 10px 8px;  */}
.veins1 .ico2 {/*  background: url(images/span_ico.gif) no-repeat right 8px;  */color: #555; }

.veins2 {/*  background: url(images/veins2.gif) no-repeat 0 bottom;  */}
.veins2 .ico2 { /* background: url(images/linebox_h1_span.gif) no-repeat;  */}

.module_special{/* border:1px solid #ddd; */margin-bottom:10px;}

.module_common .common_title { /* height: 37px; line-height: 37px; */background-color:#f5f5f5;;padding:5px 10px; position: relative;border-bottom:1px solid #ddd; font: 600 14px/20px arial,"microsoft yahei";}
.module_currency .common_title { height: 37px; line-height: 37px; position: relative; }
.module_special .common_title { /* height: 50px; line-height: 50px; padding-left: 20px; */background-color:#f5f5f5;;padding:5px 10px; position: relative;border:1px solid #ddd; font: 600 14px/20px arial,"microsoft yahei"; }

.veins1 .ornament1 { width: 6px; height: 32px; position: absolute; top: 0; left: 0; }
.veins1 .ornament2 { width: 6px; height: 32px; position: absolute; top: 0; right: 0; }
.common_title .ico1 {}

.module_common .ico2 {/*  padding-left: 14px; margin-left: 13px; font-size: 12px;  */}
.module_special .ico2 {/*  padding: 2px 0 2px 14px; margin-left: 13px; font-size: 12px; */ color: #555; }
.module_currency .ico2 { padding: 2px 0 2px 14px; margin-left: 13px; font-size: 12px; }
.common_title .ico2 { /* padding: 2px 16px 2px 14px; margin-left: 13px; font-size: 12px;  */}


.message_link { color: #000; position: absolute; top: 2px; right: 10px; word-spacing: 5px; font-weight: normal; }
.message_link a { color: #000; text-decoration: none; font-size: 12px; }
.message_link a:hover { position: relative; top: 1px; text-decoration: underline; }

.web_search { margin: 15px 0 10px 15px; height: 40px; }
.web_search .btn {width: 40px; height: 28px;/*  border: 0; width: 30px; height: 25px; background: url(images/btn.gif) 0 -73px; vertical-align: middle; position: relative; top: -4px;  */}

.submenu { width: 176px; margin: 0 auto; padding: 10px 0; overflow: hidden; }
.submenu li { line-height: 24px; }
.submenu li a { padding-left: 22px; color: #666; text-decoration: none; }
.submenu li a:hover { font-weight: bold; }
.submenu ul { padding-left: 22px; }
.submenu ul li {}
.submenu ul li a { background: url(images/ico.gif) no-repeat 0 -241px; padding-left: 10px; }

.none_ico { background: url(images/ico.gif) no-repeat 0 -209px; }
.block_ico { background: url(images/ico.gif) no-repeat 0 -179px; }
.link_ico { background: url(images/ico.gif) no-repeat 3px -276px; }

.default { margin-bottom: 10px; }
.default dl { margin: 10px 0; }
.default dd { margin-left: 40px; }
.default ul { margin: 0 0 20px 40px; }
.default ul li { list-style: outside disc; }
.default ol { margin: 0 0 20px 40px; }
.default ol li { list-style: outside decimal; }
.default ol li ul li { list-style: outside disc; }
.default p { margin: 16px 0; }
.default h1, .default h2, .default h3, .default h4, .default h5, .default h6 { margin-bottom: 16px; }
.default h1 { font-size: 32px; }
.default h2 { font-size: 24px; }
.default h3 { font-size: 20px; }
.default h4 { font-size: 14px; }
.default h5 { font-size: 12px; }
.default h6 { font-size: 10px; }

.major .list { /* width: 948px; margin: 15px;  */overflow: hidden; }
.major .list li {border:1px solid #ccc;box-shadow:3px 2px 1px #ddd;/*  height: 250px;  */float: left; margin-top:15px; margin-right:10px; width:224px;height:346px;position:relative;padding:5px;}
.major .list li:hover{border:1px solid #f44;}
.major .list li.rec_li{margin-right:13px;}
.major .pic { width: 178px; margin: 0 auto; border:0px solid #ddd;}
.major .pic:hover{/* border:1px solid #f44; */}
.major .pic img { width: 176px; height: 176px; }
.major .pic a { /* display: block; width: 176px; height: 176px; padding: 1px;  */}
.major .pic a:hover { }
.major h3 { width: 164px; height: 40px; text-align: center; overflow: hidden; margin: 10px auto; line-height: 18px; font-weight: normal; font-size: 12px; }
.major h3 a { color: #3d3f3e; text-decoration: none; }
.major h3 a:hover { text-decoration: underline; }
.major p { width: 164px; color: #fe5504; font-weight: bold; font-size: 14px; text-align: center; }
.major .list .store_name{margin:5px 0px;}
.major .list .store_name a{color:#666;text-decoration:none;}

.major .more { font-family: "宋体"; text-align: right; padding-right: 30px; margin-bottom: 20px; }
.major .more a { color: #fff; padding: 2px 4px; background: #000; }
.major .more a:hover { background: #777; }

.general .list { width: 750px; margin: 15px; overflow: hidden; }
.general .list li { width: 124px; height: 180px; float: left; float: left; }
.general .pic { width: 102px; margin: 0 auto; }
.general .pic img { width: 100px; height: 100px; }
.general .pic a { display: block; width: 100px; height: 100px; border: 2px solid #fff; }
.general .pic a:hover { border: 2px solid #ccc5a9; }
.general h3 { width: 102px; height: 36px; text-align: center; overflow: hidden; margin: 10px auto; line-height: 18px; font-weight: normal; font-size: 12px; }
.general h3 a { color: #646665; text-decoration: none; }
.general h3 a:hover { text-decoration: underline; }
.general p { width: 124px; color: #fe5504; font-weight: bold; font-size: 14px; text-align: center; }

.credited { margin-bottom: 15px; }
.credited table { width: 100%; border-collapse: collapse; line-height: 26px; }
.tr_line th { border-bottom: 1px solid #ccc; }
.credited td { border-bottom: 1px solid #ccc; }
.credited_css { border-right: 1px solid #ccc; margin: 3px 0; font-weight: bold; }
.new_size th { font-weight: normal; color: #bc0001; }
.credited td { text-align: center; color: #666; }


.tab_table { width: 100%; border-collapse: collapse; table-layout: fixed; }
.tab_table th { height: 25px; color: #bc0001; }
.tab_table th, .tab_table td { border-bottom: 1px solid #ccc5a9; }
.tab_align { text-align: center; }
.tab_align_right { text-align: right; }
.font_bold { font-weight: bold;}
.tab_table_con { line-height: 18px; color: #888; padding: 10px 20px 10px 0; }
.money { color: #fd5500; font-weight: bold; font-size: 14px; }
.ware_link { color: #666; text-decoration: none; line-height: 18px; }
.ware_link:hover { text-decoration: underline; }




.general .more { font-family: "宋体"; text-align: right; padding-right: 30px; margin-bottom: 20px; }
.general .more a { color: #fff; padding: 2px 4px; background: #000; }
.general .more a:hover { background: #777; }

.nothing { width: 780px; padding: 50px 0; text-align: center; }
.nothing p { width: 278px; height: 50px; padding: 30px 0 0 40px; background: url(images/nothing.gif) no-repeat; font-weight: bold; font-size: 15px; color: #585858; margin: 0 auto; }

.message_text { width: 830px; margin: 0 auto; padding: 15px 25px; overflow: hidden; line-height: 24px; border-bottom: 1px dotted #a99578; position: relative; }
.message_text dt { color: #666; }
.message_text dd { color: #3d3f3e; }
.message_text .link1 { color: #285bcc; font-weight: bold; text-decoration: none; }
.message_text .link1:hover { color: #5cab22; }
.message_text .link2 { color: #fe5504; }
.message_text .gray { color: #333; }
.message_text .beat { position: absolute; top: 10px; right: 30px; }

.ware_title { text-align: center; color: #3e3e3c; line-height: 40px; border-bottom: 1px solid #ddd; margin: 0 10px 25px; }
.ware_info { width: 740px; margin: 0 auto 20px; }
.ware_pic { float: left; width: 300px; }
.ware_text { float: right; width: 380px; position: relative; z-index: 10; }

.big_pic { width: 302px; height: 302px; background: #f1f1f1; margin-left: 20px; border: 2px solid #fff; }

.bottom_btn { width: 340px; height: 64px; position: relative; }
.collect { width: 27px; height: 128px; background: url(images/btn.gif) 0 -113px; position: absolute; top: -306px; left: 326px; }

#btn_list { padding-top: 20px; position: relative; left: 20px; z-index:999 }
#btn_list1 , #btn_list2 { width: 135px; height: 29px; float: left; position: relative; cursor: pointer; }
#btn_list3{float:left;margin-left:20px; width: 135px; height: 25px;border:1px solid #ccc;overflow:hidden;}
#btn_list1 { /* background: url(images/btn_list.gif) no-repeat; */}
#btn_list1 span.title,#btn_list2 span.title{display:block;border:1px solid #ccc;width:135px;height:25px;line-height:25px;text-align:center;color:#666;font-size:14px;}
#btn_list1 span.title i,#btn_list2 span.title i{font-family:iconfont;cursor:default;font-style:normal;color:#f44;font-weight:bold;font-size:12px;margin-right:5px;}
#btn_list2 { /* background: url(images/btn_list.gif) no-repeat right 0; */ left: 10px; }
#btn_list .drop_down { position: absolute; top: 29px; left: 0; width: 135px; padding: 6px 0 10px; border: 1px solid #dadada; background: #fff; display: none; }
#btn_list .drop_down li { height: 30px; }
#btn_list .drop_down li img { float: left; width: 16px; height: 16px; position: relative; top: 6px; left: 20px;}
#btn_list .drop_down li a { color: #3e3e3e; float: left; height: 30px; line-height: 30px; padding-left: 30px; }
#btn_list .drop_down li a:hover { color: #f00; font-weight: bold; }

.left_btn { width: 8px; height: 53px; border: 1px solid #ccc; background: #f7f4f0 url(images/left_btn.gif) no-repeat center center; position: absolute; bottom: 0; left: 6px; cursor: pointer; }
.right_btn { width: 8px; height: 53px; border: 1px solid #ccc; background: #f7f4f0 url(images/right_btn.gif) no-repeat center center; position: absolute; bottom: 0; right: 3px; cursor: pointer; }

.ware_box { width: 305px; height: 64px; position: absolute; left: 19px; top: 3px; overflow: hidden; }
.ware_box ul { width: 30000px; border: 1px sol9id #333; position: absolute; top: 0; left: 0; }
.ware_box li { width: 55px; height: 55px; overflow: hidden; padding: 6px 3px 3px 3px; float: left; cursor: pointer; }

.ware_pic_hover { background: url(images/ware_pic_hover.gif); }

.rate { color: #666; line-height: 30px; width: 360px; padding-left: 20px; margin-bottom: 10px; overflow: hidden; }

.handle { width: 340px; padding: 10px 20px; /* background: #f7f7f7; */ border: 1px solid #fff; overflow: hidden;
background-image: -moz-linear-gradient(top, #f7f7f7, #ffffff); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f7f7), color-stop(1, #ffffff)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ffffff', GradientType='0'); /* IE*/
}
.handle ul { width: 360px; overflow: hidden; color: #7a7a7a; margin-bottom: 10px;}
.handle li { float: left; cursor: pointer;margin-bottom:5px; }
.handle li a{ text-decoration:none}
.handle_title { padding-top: 3px; margin-right:5px;}
.solid { padding: 1px 15px 1px 10px; border: 2px solid #f44; color: #666; margin-right: 8px;position:relative;background:url(images/a.png) no-repeat right 7px;}
.dotted {  padding: 1px 15px 1px 10px; border: 2px solid #B5A08B; color: #666; margin-right: 8px;position:relative;background:url(images/a.png) no-repeat right -24px;}
.aggregate { color: #cb8942; }

.spec2_table th{color:#434343;font-family:"microsoft yahei";height:24px;font-size:13px;font-weight:400;}
.spec2_table td{color:#434343;font-family:"microsoft yahei";height:24px;font-size:13px;}

.ware_btn { width: 380px; margin-top: 20px; position: relative; }
.ware_btn li { float: left; margin-right: 20px; cursor: pointer; }
.btn_c1 a { display: block; width: 144px; height: 66px; background: url(images/btn.gif) 0 -268px; }
.btn_c2 a { display: block; width: 144px; height: 33px;line-height:33px; /* background:#f44; */
border:1px solid #f44;border-radius:5px;color:white;text-decoration:none;text-align:center;font-size:16px;letter-spacing:1px;
font-family:"microsoft yahei";font-weight:bold;/* background: url(images/btn.gif) 0 -340px; */
background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACBSURBVBhXLcvXDoJAFITheTClLMvSw/vfaqwo1mB3nCXefJmT/AdsW+JbVcTH824a4lWWxLMQj7oWRUHc85y4lUqGTGvIMuGTq3MiFZdc3dmmxGnEJ8fEEgeTEL3TufdrZwzRWX10sdbWs0n0sQ7jPyvfLYOIWIxESubTkJhNAv4A2ApZOprhr+MAAAAASUVORK5CYII=") repeat-x;
}
.btn_c2 a:hover{background-image: -moz-linear-gradient(top, #f99, #faa); /* Firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f99), color-stop(1, #faa)); /* Saf4+, Chrome */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9999', endColorstr='#ffaaaa', GradientType='0'); /* IE*/
color:white;border:1px solid #f44;}
.btn_c3 a { display: block; width: 144px; height: 33px;line-height:33px; /* background: url(images/style3.gif);  */
border:1px solid #999;border-radius:3px;color:#999;text-decoration:none;text-align:center;font-size:16px;
font-family:"microsoft yahei";font-weight:400;/* background: url(images/btn.gif) 0 -340px; */
}
.btn_c3 a:hover{
	border:1px solid #f44;color:#f44;
}
.btn_c4 a{
	display: block; width: 144px; height: 33px;line-height:33px;border:1px solid #f44;color:#f44;border-radius:3px;text-decoration:none;text-align:center;font-size:16px;
}
.goods-service .btn_c2 a{color:white;}

.g_goods_upload_tb,.g_goods_upload_ali,.g_goods_upload_pp{display:inline-block;width:120px;height:35px;line-height:35px;
border:1px solid #ccc;color:#666;text-decoration:none;text-align:center;font-size:16px;}
.g_goods_upload_tb i,.g_goods_upload_ali i,.g_goods_upload_pp i{margin-right:5px;font-family:iconfont;font-size:18px;}
.g_goods_upload_tb:hover,.g_goods_upload_ali:hover,.g_goods_upload_pp:hover{border:1px solid #f44;color:#f44;}

.ware_cen { width: 333px; height: 129px; position: absolute; }
.ware_center { width: 316px; height: 112px; padding: 7px 4px 0; position: absolute; top: 0; left: 0; z-index: 2; background: #fff; border: 3px solid #dadada; }
.ware_cen_bottom { width: 330px; height: 126px; position: absolute; bottom: -1px; right: -1px; z-index: 1; background: #8d8d8d; -moz-opacity: 0.5; opacity:.5; filter: alpha(opacity=50); }
.ware_center h1 { background: url(images/login_h1.gif); height: 30px; }
.dialog_title { background: #fff url(images/linebox_h1_span.gif) no-repeat 3px 3px; display: block; padding: 3px 10px 3px 15px; position: absolute; color: #656565; }

.enter { width: 404px; height: 286px; position: absolute; top: 50%; left: 50%; margin: -142px 0 0 -202px; z-index: 1000; }
.enter_ware_center { width: 386px; height: 269px; padding: 7px 4px 0; position: absolute; top: 0; left: 0; z-index: 2; background: #fff; border: 3px solid #dadada; }
.enter_ware_center h1 { background: url(images/login_h1.gif); height: 30px; }
.enter_ware_cen_bottom { width: 400px; height: 282px; position: absolute; bottom: 0; right: 0; z-index: 1; background: #8d8d8d; -moz-opacity: 0.5; opacity:.5; filter: alpha(opacity=50); }
.enter .con { width: 83%; margin: 0 auto; }
.suggestive { height: 28px; line-height: 28px; padding-left: 55px; background: #f4f4f4 url(images/suggestive.gif) no-repeat 20px 3px; border: 1px solid #ddd; color: #3f3f3f; margin: 10px 0; }
.enter table { color: #676767; border-collapse: collapse; }
.enter table td { padding: 5px 0; }
.enter .text { border: 1px solid #c2c2c2; background: #fff url(images/text.gif) repeat-x; padding: 4px; font-family: Arial, Helvetica, sans-serif; color: #666; }
.enter a { color: #c53900; }
.enter a:hover { color: red; }
.enter .btn1 { border: 0; width: 75px; height: 29px; background: url(images/enter_btn.gif) 0 0; }
.enter .btn2 { border: 0; width: 75px; height: 29px; background: url(images/enter_btn.gif) -85px 0; }

.close_link { width: 21px; height: 21px; padding-right: 10px; position: absolute; top: 7px; right: 4px; background: #fff url(images/dialog_close_button.gif) no-repeat right bottom; overflow: hidden; cursor: pointer; }
.close_hover { width: 21px; height: 21px; padding-right: 10px; position: absolute; top: 7px; right: 4px; background: #fff url(images/dialog_close_button.gif) no-repeat right top; overflow: hidden; cursor: pointer; }

.ware_cen_btn { padding: 10px 0 0 22px; }
.ware_text_p { color: #666; margin-bottom: 8px; }
.bold_num { font-weight: bold; font-size: 14px; color: #4a7911; }
.bold_mly { font-weight: bold; font-size: 14px; color: #fc5b00; }
.btn1 { width: 110px; height: 29px; border: 0; color: #c73702; font-weight: bold; font-size: 14px; font-size: 13px; background: url(images/btn.gif) 0 -410px; }
.btn2 { width: 125px; height: 29px; border: 0; color: #4e4e4e; font-weight: bold; font-size: 14px; font-size: 13px; background: url(images/btn.gif) 0 -452px; }

/* .user_menu{height:30px;width:978px;}
.user_menu li{float:left;}
.user_menu li a{display:block;height: 30px;line-height: 28px;padding: 0 13px;font: 14px/30px 'microsoft yahei';color:#666;_display:inline-block;}
.user_menu li.active{color: #e4393c;background-color: #fff;margin-top: -6px;border-top: 2px solid #e4393c;}
.user_menu li.active a {height: 34px;line-height: 34px;padding: 0 12px;border-left: 1px solid #ddd;border-right: 1px solid #ddd;color: #e4393c;} */

/* .user_menu { width: 980px; height: 30px; margin: 0 auto; padding-left: 20px; background: url(images/user_menu.gif) repeat-x 0 bottom; position: relative; }
.user_menu li { float: left; margin-right: 4px; }

.user_menu .ornament1 { width: 6px; height: 6px; overflow: hidden; position: absolute; bottom: -2px; left: 0; }
.user_menu .ornament2 { width: 6px; height: 6px; overflow: hidden; position: absolute; bottom: -2px; right: 0; }

.user_menu .active { display: block; font-size: 12px; font-weight: bold; color: #3d3f3e; text-decoration: none; background: url(images/user_menu_nav.gif) no-repeat right -50px; }
.user_menu .active span { display: block; padding: 8px 20px 8px 22px; background: url(images/user_menu_nav.gif) no-repeat left -100px; }
.user_menu .normal { display: block; font-size: 12px; font-weight: bold; color: #3d3f3e; text-decoration: none; background: url(images/user_menu_nav.gif) no-repeat right 0; }
.user_menu .normal:hover { text-decoration: underline; }
.user_menu .normal span { display: block; padding: 8px 20px 8px 22px; background: url(images/user_menu_nav.gif) no-repeat left -150px; }
 */

.user_menu { width: 979px; height: 30px; margin: 0 auto;   position: relative; padding-top:2px;background:url(images/tab.png) 0 -41px repeat-x;border-right:1px solid #ddd;margin-top:4px;}
.user_menu li { float: left;}

.user_menu .ornament1 { width: 6px; height: 6px; overflow: hidden; position: absolute; bottom: -2px; left: 0;display:none; }
.user_menu .ornament2 { width: 6px; height: 6px; overflow: hidden; position: absolute; bottom: -2px; right: 0;display:none;  }

.user_menu .active { font: 14px/30px 'microsoft yahei';color: #e4393c;background-color: #fff;display:block;margin-top:-6px;margin-right:-1px;border-top: 2px solid #e4393c; height: 34px;line-height: 34px;padding: 0 12px;border-left: 1px solid #ddd;border-right: 1px solid #ddd;color: #e4393c; }
.user_menu .active span { }

.user_menu .normal {display:block;height: 30px;line-height: 28px;padding: 0 13px;border-left:1px solid #ddd;font: 14px/30px 'microsoft yahei';color:#666;_display:inline-block;}
.user_menu .normal:hover {  }
.user_menu li a{ text-decoration: none;}
.user_menu .normal span { /* display: block; padding: 8px 20px 8px 22px; background: url(images/user_menu_nav.gif) no-repeat left -150px; */ }

.option_box { width: 980px; padding: 0 20px; margin-bottom: 10px; overflow:hidden; }

.grade { border: 1px solid #fee1b9; background: #fffcf3; margin-top: 15px; }

.annals { padding: 15px 0 0 14px; width: 192px; overflow: hidden; }
.annals li { float: left; padding: 0 8px 15px 0; }
.annals li a { display: block; border: 1px solid #fff; width: 50px; height: 50px; padding: 1px; }
.annals li a:hover { border: 1px solid #c94700; }

.table_common { width: 900px; overflow: hidden; }
.table_common table { width: 100%; border-collapse:collapse; margin-left:40px;}
.table_common th { padding: 10px 0; color: #666; font-weight: normal; }
.table_common td { padding: 10px 0; text-align: center; color: #333; border-bottom: 1px dotted #b3a085; }

.message_text2 { width: 920px; padding: 15px 30px; line-height: 20px; overflow: hidden; border-bottom: 1px dotted #a99578;  }
.message_text2 dl { width: 100%; position: relative; margin-bottom: 10px; overflow: hidden; }
.leave_word dt { float: left; padding-left: 25px; font-weight: bold; color: #285bcc; }
.leave_word dd { float: left; width: 560px; color: #3d3f3e; }
.leave_word dd p { color: #888; }
.leave_word p { position: absolute; top: 0; right: 20px; color: #666; }
.leave_word .name { display: block; }
.leave_word .date { display: block; }
.revert_to dt { float: left; padding-left: 25px; font-weight: bold; color: #fe5504; }
.revert_to dd { float: left; width: 560px; color: #fe5504; }
.revert_to p { position: absolute; top: 0; right: 20px; color: #888; text-align:right; }
.revert_to .name { display: block; }
.revert_to .date { display: block; }

.fill_in { width: 755px; padding: 10px 0 10px 25px; }
.fill_in p { margin-bottom: 10px; }
.fill_in textarea { width: 560px; height: 100px; overflow: auto; border: 1px solid #c2c2c2; background: #fff url(images/text.gif) repeat-x; padding: 4px; font-family: Arial, Helvetica, sans-serif; color: #666; }
.fill_in .text { border: 1px solid #c2c2c2; background: #fff url(images/text.gif) repeat-x; padding: 4px; font-family: Arial, Helvetica, sans-serif; color: #666; }

/*
 * -------------------------------------------------------
 * ******************** end module.css *******************
 * -------------------------------------------------------
 */





/*
 * -------------------------------------------------------
 * ******************** page.css *************************
 * -------------------------------------------------------
 */

/* .common_page { float: right; padding-right: 15px; margin-top: 15px; margin-bottom: 10px; }

.no_former { background: url(images/page.gif); }
.no_former { background-color: #e0e0e0; background-repeat: no-repeat; background-position: 5px 5px; border: 1px solid #c7c7c7; display: block; float: left; width: 15px; height: 19px; }

.former { background-image: url(images/page.gif); }
.former { background-color: #fe9460; background-repeat: no-repeat; background-position: 5px 5px; border: 1px solid #fe7a30; display: block; float: left; width: 15px; height: 19px; }
.former:hover { border: 1px solid #a53a00; }

.page_link { color: #666; }
.page_hover { color: red; }
.page_link, .page_hover { font-weight: bold; display: block; float: left; text-decoration: none; padding: 2px 5px 0; font-size: 16px; }
.page_link:hover, .page_hover:hover { text-decoration: underline; }

.down { border: 1px solid #ff7a32; color: #fff; text-decoration: none; display: block; float: left; padding: 2px 15px 2px 8px; background: #ff975f url(images/page.gif) no-repeat 50px -25px; }
.down:hover, { border: 1px solid #a53a00; }

.no_down { border: 1px solid #c7c7c7; color: #fff; text-decoration: none; display: block; float: left; padding: 2px 15px 2px 8px; background: #e2e2e2 url(images/page.gif) no-repeat  50px -25px; }

.no_former, .former, .down, .no_down, .page_link, .page_hover { margin-left: 5px; }

.page .nonce,.page .stat{line-height:22px;margin-left:5px;} */

.shop_list_page{width:100%;overflow:hidden;position:relative;}
.shop_list_page .page { margin:30px auto; padding-bottom: 10px;display:inline-block; }
.down, .down_no, .former, .former_no, .page_link, .page_hover, .nonce { margin-left: 5px; }
.former { border: 1px solid #ff7a32; display: block; float: left; width: 25px; height: 25px; background: #ff975f url(images/page_ico.gif) no-repeat 10px -17px; }
.former:hover {border: 1px solid #a53a00;}
.down { display: block; color: #fff; text-decoration: none;height:25px;line-height:25px; padding: 0px 15px 0 8px; float: left; border: 1px solid #ff7a32; background: #ff975f url(images/page_ico.gif) no-repeat 50px -44px; }
.down:hover {border: 1px solid #a53a00;}
.page_link, .page_hover { font-weight: normal; display: block; float: left; text-decoration: none; padding:0px 13px;height:25px;line-height:25px; text-align:center; border:1px solid #ccc; font-size: 14px; }
.page_link:hover, .page_hover:hover { text-decoration: underline; }
.page_link { color: #666; }
.page_hover { color: #ff6000;font-weight:bold; }
.former_no { border: 1px solid #ddd; display: block; float: left; width: 25px; height: 25px; background: #fff url(images/page_ico.gif) no-repeat 10px 9px; }
.down_no { display: block; color: #fff; text-decoration: none; padding: 0px 15px 0 8px;height:25px;line-height:25px; float: left; border: 1px solid #ddd; background: #eaeaea url(images/page_ico.gif) no-repeat 50px -44px; }
.nonce { border: 1px solid #ddd; display: block; float: left; height: 17px; text-decoration: none; color: #a3a3a3; line-height: 17px; padding: 0 5px; }
.stat { float: left; height: 20px; line-height: 20px; color: #a3a3a3; text-decoration: none; }

/*
 * -------------------------------------------------------
 * ******************** end page.css *********************
 * -------------------------------------------------------
 */





/*
 * -------------------------------------------------------
 * ******************** footer.css ***********************
 * -------------------------------------------------------
 */

#footer { width: 1200px; margin: 10px auto 0;border-top:1px solid #eee; text-align: left; color: #aaa; line-height: 20px; padding-bottom: 10px; }
/* #footer p { color: #666; word-spacing: 5px; padding: 10px 0; }
#footer a { color: #666; text-decoration: none; }
#footer a:hover { text-decoration: underline; } */
.clearfix:after{ content:'\20'; display:block; overflow:hidden; height:0; clear:both;}
#footer a{text-decoration:none;color:#666;}
#footer a:hover{color:#990000; text-decoration:underline;}

#footer .foot-service{margin:0 auto;padding-bottom:40px;margin-top:30px;}
#footer .foot-service dl{float:left;width:13%;padding-left:35px;}
#footer .foot-service dt{width:108px; height:50px; line-height:50px; font-size:18px; overflow:hidden; font-family:"Microsoft yahei";color:#666;}
#footer .foot-service dd{width:120px; height:20px; line-height:20px; overflow:hidden}
#footer .foot-service dd a{color:#999;}
#footer .foot-service dd a:hover{color:#990000; text-decoration:none}
#footer .foot-service dd.xinlang{background:url(./images/51icons2.png) no-repeat 0px -237px;padding-left:25px;margin-bottom:3px;}
#footer .foot-service dd.tengxun{background:url(./images/51icons2.png) no-repeat 0px -270px;padding-left:25px;margin-bottom:3px;}
#footer .foot-service dd.weixin{background:url(./images/51icons2.png) no-repeat 0px -300px;padding-left:25px;}

#footer .foot-baozhang{width:743px; margin:0 auto 45px;border:1px #ddd solid}
#footer .foot-baozhang li{float:left; height:45px;}
#footer .foot-baozhang li a{ display:block;padding:0 0 5px 30px}

#footer .foot-baozhang li em{float:left; display:block; width:34px; height:39px; margin:0 10px 0 0; background:url(./images/header_sprites.png) 0 -230px; font-size:14px;font-style:normal; line-height:44px; cursor:pointer; text-align:center;color:#fff;}
#footer .foot-baozhang li a:hover em{background:url(./images/header_sprites.png) -35px -230px;color:#fff;}

#footer .foot-baozhang li span{float:left; display:block;margin-top:8px;padding-right:30px;border-right:1px #ddd solid; line-height:27px; white-space:nowrap; text-align:center; font-size:18px;font-family:"Microsoft yahei";}
#footer .foot-baozhang li.last span{border-right:0;}

#footer .foot-group,#footer .foot-copyright,#footer .foot-parter{ text-align:center;color:#666;}
#footer .foot-group{margin: 5px auto 10px auto;padding-top:15px;}
#footer .foot-group a { margin: 0 7px;}

#footer .foot-copyright {margin: 5px auto 10px auto; font-family:Tahoma, Geneva, sans-serif}
#footer .foot-parter a{margin-right:15px;}

#footer .footer-fixed{left: 50%;position: fixed;_position: absolute;bottom: 30px;margin-left:610px;}
#footer .footer-fixed .feeback{display: block;width: 13px;height: 62px;padding: 18px 6px 0;background:url(./images/indexhead_sprite.png) -160px -520px no-repeat;color: #F60;font-size: 12px;text-decoration: none;}
#footer .footer-fixed .feeback:hover{background:url(./images/indexhead_sprite.png) -185px -520px no-repeat;color:#fff;}
#footer .footer-fixed .toTop {display:none;background:url(./images/right_bar.png) no-repeat 12px -98px #dadada;}
#footer .footer-fixed .toTop em{display:none;}
#footer .footer-fixed .toTop:hover{background-position:12px -67px;background-color:#ffe8cf;}
#footer .footer-fixed .placeholder{width:47px;height:47px;}

#footer .footer-fixed li{position:relative;z-index:98;width:27px;height:37px;cursor:pointer;background:#dadada;border-radius:5px;color:#666;padding:5px 10px;margin-bottom:10px;}
#footer .footer-fixed li:hover{background-color:#ffe8cf;color:#f60;}
#footer .footer-fixed li em{text-align:center;line-height:18px;display:block;font-style:normal;}
#footer .footer-fixed li .tips{background:#f60;border-radius:9px;color:white;font-family:Tahoma,Verdana,Arial;font-weight:700;left:35px;top:-5px;position:absolute;z-index:991;padding:2px 6px;}
#footer .footer-fixed li div.right_arrow{width:13px;height:14px;position:absolute;top:16px;right:47px;background:url(./images/right_bar.png) no-repeat #fff;z-index:992;}
#footer .footer-fixed .nav-content{border:3px solid #9c0;width:210px;height:260px;background-color:white;z-index:99;top:0px;right:57px;}
#footer .footer-fixed .qrcode{background:url(./images/right_bar.png) no-repeat 6px -24px #dadada;}
#footer .footer-fixed .webclient .nav-content{width:160px;height:230px;}
#footer .footer-fixed .webclient li{padding-left:23px;margin-left:28px;width:90px;height:24px;line-height:24px;border-bottom:1px dashed #eee;background:url(./images/login_icon.png) no-repeat 0px -50px #fff;}
#footer .footer-fixed .webclient a{font-size:16px;font-weight:400;color:#9c0;font-family:microsoft yahei;}


/*
 * -------------------------------------------------------
 * ******************** end footer.css *******************
 * -------------------------------------------------------
 */





/*
 * -------------------------------------------------------
 * ******************** table.css ************************
 * -------------------------------------------------------
 */

/*
 * -------------------------------------------------------
 * ******************** end table.css ********************
 * -------------------------------------------------------
 */





/*
 * -------------------------------------------------------
 * ******************** newAdd.css ***********************
 * -------------------------------------------------------
 */

.related_list { margin:5px; }
.related_list dt { padding:3px 3px; border-bottom:#eee 1px solid; margin-top:15px; background:#eee; }
.related_list dt a { color:#000; text-decoration:none; }
.related_list dd { margin:3px 0px; padding:3px; }
.related_list dd a { margin:3px 0px; text-decoration:none; color:#000; }

/*
 * -------------------------------------------------------
 * ******************** end newAdd.css *******************
 * -------------------------------------------------------
 */





/*
 * -------------------------------------------------------
 * ******************** hack.css *************************
 * -------------------------------------------------------
 */

#topbtn .user { +background: url(images/ico.gif) no-repeat 50px -108px; }
.no_former { +height: 18px; }
.former { +height: 18px; }

/*
 * -------------------------------------------------------
 * ******************** end hack.css *********************
 * -------------------------------------------------------
 */
.store-head-top a{text-decoration:none;}
.store-head-top a:hover{text-decoration:underline;}

.goods-recommended-left h2{border:1px solid #eee;border-top:2px solid #999;height:30px;line-height:30px;background:#f7f7f7;}
.goods-recommended-left h2 span{display:inline-block;height:30px;padding:0px 15px;border-top:2px solid #f44;color:#f44;font-size:16px;margin-top:-2px;background:#f7f7f7;}
.goods-recommended-left ul{padding-top:15px;}
.goods-recommended-left ul li{border:1px solid #ccc;padding:5px 5px 10px 5px;margin-bottom:10px;}
.goods-recommended-left ul li .pic{width:196px;display:table-cell;vertical-align:middle;text-align:center;}
.goods-recommended-left ul li .pic img{max-width:196px;}
.goods-recommended-left ul li .title{margin-top:7px;}
.goods-recommended-left ul li .title a,.goods-recommended-left ul li .name a{line-height:20px;color:#666;text-decoration:none;}
.goods-recommended-left ul li .title a:hover,.goods-recommended-left ul li .name a:hover{color:#f44;text-decoration:underline;}
.goods-recommended-left ul li .price{margin-top:7px;overflow:hidden;clear:both;}
.goods-recommended-left ul li .price .left{float:left;color:#f44;}
.goods-recommended-left ul li .price .right{float:right;}
